<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/0613ebb975.js" crossorigin="anonymous"></script>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>SupportAI</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
